@import "tailwindcss";


  main {  display: grid;
    grid-template-columns: 4.5fr 1.7fr;
    grid-template-rows: 0.6fr 1.3fr 5.3fr 0.7fr 1.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "points game_shop"
      "image upgrades"
      "image upgrades"
      "skills_shop ."
      "skills skills";
  }
  
  .image { grid-area: image; }
  
  .upgrades { grid-area: upgrades; }
  
  .skills { grid-area: skills; }
  
  .points { grid-area: points; }
  
  .skills_shop { grid-area: skills_shop; }
  
  .game_shop { grid-area: game_shop; }
  

#bgImage{
  background-image: url("/src/image/background.png");
  background-position: cover;
 
}


